
<h4 class="mb-5">PESEL GENERATOR</h4>
<div class="d-flex align-items-center justify-content-center mb-5">
    <label>Podaj datę urodzenia</label>
    <input type="date"
        class="form-control w-25 ms-5"
        name="userDate"
        [(ngModel)]="userDate"/>
    <button class="btn btn-success btn-sm ms-5"
        [disabled]="!userDate"
        (click)="generatePesel(userDate)">
            GENERUJ NUMER PESEL
    </button>
</div>
<h3 *ngIf="generatedPeselNumber">{{generatedPeselNumber}}</h3>
